# Homework: Week #2 
---
This week's homework is a chance to continue honing your python skills.

You can find the syntax cheat sheet [here](https://docs.google.com/document/d/1NGD5FUzchMfVLKOAkhsUPQnaYh0dEoRVtr_A1j75jtY/edit?usp=sharing).

---

#### **Exercise #1:** Create a variable named `welcome_message` and store the string "Welcome to class!" in it. Then print this variable.

In [2]:
welcome_message = "Welcome to class!"
print(welcome_message)

Welcome to class!

#### **Exercise #2:** For each of the variable declarations below, say whether the name would be accepted by python or not. NOTE: You can change the text here by double clicking this cell.

a. var_var_binks Accepted

b. 3_musketeers Not Accepted
 
c. puncuation_marks Accepted
 
d. exclamation!marks Not Accepted
 
e. thirty3 Accepted
 
f. print Not Accepted

g. quantumSuperposition Accepted

#### **Exercise #3:** 


You start walking to your friend's house, which is 20 minutes away, but realize half way there that you forgot something. So, you walk back to your home and then go to your friend's house.

Complete the code below to calculate how long your total trip takes and print out the sentence, "It took me [total time of trip] minutes to get here!".

In [3]:
time_to_friend = 20

total_time = str(40)

print("It took me " + total_time + " minutes to get here!")

It took me 40 minutes to get here!

#### **Exercise #4:** Your favorite musician just released a new album! It is 38 minutes long and has an average song length of 3.7 minutes.

Complete the code below to determine and print the number of songs in this album.

In [4]:
album_length = 38
avg_song_length = 3.7

num_songs = album_length / avg_song_length

print(num_songs)

10.27027027027027

#### **Exercise #5:** You want to buy new clothes, on a budget of course! You have a budget of \\$100 and end up buying 3 shirts for \\$11 each, 4 pairs of socks for \\$2.57 each, and 1 pair of pants for \\$15.99. 

Complete the code below to calculate the difference between your budget and what you spent.

In [5]:
budget = 100

num_shirts = 3
cost_per_shirt = 11
num_socks = 4 
cost_per_socks = 2.57
num_pants = 1 
cost_per_pants = 15.99

total = 100 - (num_shirts * cost_per_shirt + num_socks * cost_per_socks + num_pants * cost_per_pants)

print(total)

40.73

#### **Exercise #6:** Copy your answer from above into the cell below. Now, modify this code to determine and print how many more socks you can get while staying under budget.

In [6]:
budget = 100

num_shirts = 3
cost_per_shirt = 11
num_socks = 4 
cost_per_socks = 2.57
num_pants = 1 
cost_per_pants = 15.99

total = 100 - (num_shirts * cost_per_shirt + num_socks * cost_per_socks + num_pants * cost_per_pants)

socks_total = total / cost_per_socks

print(socks_total)

15.848249027237355

#### **Exercise #7:** Find the errors in the code below and fix them so that it can run properly.

In [18]:
peaches = 4
persimmons = 2

fruits = peaches + persimmons

print(fruits)

TypeError: 'str' object is not callable

#### **Exercise #8:** Find and correct the errors in the code below.

In [15]:
print("HelloWorld")

#### **Exercise #9:** Find and fix the errors in the code below.

In [20]:
books = 4
pages_total = 1001

average_book_length = (pages_total * books) / books
print(average_book_length)

TypeError: 'str' object is not callable

#### **Exercise #10:** Comment out lines below so that the message "Welcome to week 2 of Quantum Computing" is printed.

In [ ]:
course = "Quantum Computing"

print("Welcome")
print("to week")
#print(1)
#print(4)
print(2)
#print(3)
#print("off")
print("of")
#print("off")
#print("Classical")
print(course)
#print("Computing")

#### **Exercise #11:** The code below is fully written and working as intended. But, it needs comments explaining what it is doing! Write one sentence in each blank comment explaining the code beneath it. The first comment is already completed for you. NOTE: there are many correct answers to this problem! Just make your comments are brief and helpful.

In [ ]:
# set my age and my friend's age
my_age = 30
friends_age = 34

# multiplying my age and my friend's age by 12
my_age = my_age * 12
friends_age = friends_age * 12

# subtracting our ages and printing the difference
diff = friends_age - my_age
print(diff)

#### **Exercise #12:** Complete the function below so that it multiplies the two arguments and prints "Those multiply together to be [result of multiplication]".

In [22]:
def mult(num1, num2):

  m = num1 * num2
   
  return("Those multiply together to be " + m)

#### **Exercise #13:** Complete the function below so that it returns the result of checking if the argument is equal to 10.

In [26]:
def equals_10(num):
  x = num == 10
  return(x)

#### **Exercise #14:** Complete the function below so that it prints out the two arguments (`name1` and `name2`) on their own lines and returns the string "Welcome, [name 1] and [name 2]".

In [28]:
def welcome(name1, name2):

  print(name1)
  print(name2)

  return("Welcome, " + name1 + " and " + name2)

#### **Exercise #15:** Print the 0th element of the list below.

In [30]:
my_list = ["apples", "pears", "bananas"]
print(my_list[0])

TypeError: 'str' object is not callable

#### **Exercise #16:** Multiply the elements of the list below and print the result.

In [33]:
my_list = [-0.5, 1000, -2]
total = my_list[0] * my_list[1] * my_list[2]
print(total)

TypeError: 'str' object is not callable

#### **Exercise #17:** Modify the list below so that it looks like: [1, 2, 3, 4].

In [35]:
my_list = [0, 1, 2, 5]
my_list[0] = 1

TypeError: 'str' object is not callable

#### **Exercise #18:** You're going to the grocery store and want to use python to store your grocery list. You realize that you already have cereal and milk, but need bread and cheese. *Replace* "cereal" and "milk" with "bread" and "cheese" in the list below. Print the updated list.

In [37]:
grocery_list = ["apples", "bananas", "cereal", "milk", "flour"]
grocery_list[3:4] = ["bread", "cheese"]
print(grocery_list)

TypeError: 'str' object is not callable

#### **Exercise #19:** Create a list containing the elements "superposition", "interference", and "entanglement". Using the list, print out the message "These are important properties of quantum mechanics: superposition, interference, entanglement".

In [38]:
my_list = ["superposition", "interference", "entanglement"]
print("These are important properties of quantum mechanics: " , my_list)

TypeError: can only concatenate str (not "list") to str

#### **Exercise #20:** Now, add the element "measurement" to the list and print the message "These are important properties of quantum mechanics: measurement, superposition, entanglement, interference" (in this exact order).

In [ ]:
my_list = ["superposition", "interference", "entanglement"]
my_list.insert(0, "measurement")
print("These are important properties of quantum mechanics: " , my_list)

#### **Exercise #21:** Complete the function below to return the sum of the first two elements of the list provided.

In [39]:
def sum_2(my_list):
  x = mylist[0] + mylist[1]
  return(x)

#### **Exercise #22:** Comment out lines below so that the function returns a string with only the first three elements of the list provided.

In [40]:
def first_3_string(my_list):

  #out = ""
  #out = out + " " + str(my_list)
  #out = out + " " + str(my_list[3])
  out = out + " " + str(my_list[0])
  #out = out + " " + str(my_list[4])
  #out = out + " " + str(my_list[3])
  out = out + " " + str(my_list[1])
  #out = out + " " + str(my_list[3])
  out = out + " " + str(my_list[2])

  return out

---
Â© 2022 The Coding School, All rights reserved